* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.grid-container {
  background-color:#ffffff;
  display: grid;
  height: 100vh; width: 100vw;
  align-items: center;
  grid-template:
      'C1 R1 R1 R1 C2'
      'C1 R2 R2 R2 C2'
      'C1 R3 R3 R3 C2';
  
  }

.item1 { grid-area: C1; 
        height: 100%; width: 15vw;
        background-color: transparent;}
.item5 { grid-area: C2;
        height: 100%; width: 15vw;
        background-color: transparent; }
        
.item2 { grid-area: R1; 
        height: 20vh; width: 70vw;
        background-color: transparent;}
.item3 { grid-area: R2; 
        height: 70vh;  width: 70vw;
        background-color: transparent;
        display:flex;
        justify-content: center;
        align-items: center;
        overflow: hidden; }
.item4 { grid-area: R3; 
        height: 10vh; width: 70vw;
        background-color: transparent;
        padding-top: 50px;
        }




.flex{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20px, 1fr));
  grid-template-rows: repeat(3,minmax(20px, 1fr));
  grid-column-gap: 100px;
  grid-row-gap: 20px;
  align-content: end;
}

.menu{
  padding: 0.5em 1em;
  border-radius: 15px;
  background-color: #f4d109;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: Papyrus;
  font-size: 1.5em
}



.contenedor {
    width: auto;
    margin: 0 auto;
    display: flex;
    
  }

.casa {
    /*distribución*/
    height: 300px;
    flex-grow: 2;
    /*text*/
    font-family: Harry Potter, Arial;
    color: white;
    text-align: center;
    font-size: 18px;
    padding-top: 15px;
    /*background-image*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110px 150px;
    /*border-image*/


    border-bottom: 30px solid transparent;
    border-image: url(https://raw.githubusercontent.com/NestorPlasencia/img/master/border-triangle.png) 0% 0% 100% 0% stretch;
    /*transición*/
    transition:  0.75s;
  }
  
  .casa:hover {
    height: 90vh;
  }
  .none{ display: none;}
  
  #Gryffindor {

    height: 90vh;
    transition-timing-function: linear;
    background-color:  #740001;
    background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Gryffindor.png");
  }
  
  #Hufflepuff {
    height: 91vh;
    background-color: #786254;
    background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Hufflepuff.png");
  }
  
  #Ravenclaw {
    height: 90vh;
    background-color: #31446F;
    background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Ravenclaw.png");
  }
  
  #Slytherin {
    height: 91vh;
    background-color: #097146;
    background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Slytherin.png");
  }






  .box{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.input {
    padding: 10px;
    width: 10vw;
    height: 5vh;
    background-image: url('https://www.tapdanceman.com/wp-content/uploads/2019/04/Harry-Potter.gif');
    background-size:contain;
    background-repeat: no-repeat;
    background-position: 50%;
    border: 4px solid #ffffff;
    border-radius: 50px;
    box-sizing: border-box; 
    font-family: Papyrus;
    font-weight: bold;
    font-size: 26px;
    color: #1A472A;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 40vw;
    height: 7vh;
    border: 4px solid #f3d304;
    background: transparent;
    border-radius: 30px;
}





.contact-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 100px;
    column-gap:150px;


    
}
.photo {
  width: 250px; height: 300px;
  border: 7px solid #a38b00;
  overflow: hidden;
}



.name{ 
  padding: 10px;
  font-family: copperplate;
  font-weight: bold;
  font-size:1.4em;
  color: #460d0d;
  position: absolute;
  top:280px; left:3px;

}
.list-container {
  padding: 20px;
  border-top:20px ;
    height: 70vh;
    overflow-y: auto;
}


::-webkit-scrollbar {
  display: none;
}


.cardContainer{
  position: relative;
  width: 270px; height: 350px;

 


}
.card{
  position: absolute;
  width: 250px; height: 290px;
  transform-style: preserve-3d;
  transition: all 0.7s ease;

  
}

.card:hover {
  transform: rotateY(180deg);

}

.front{
  position: absolute;
  width: 250px; height: 290px;
  background-color: #a38b00;
  overflow: hidden;
  
}


.back{
  position: absolute;
  background-color:#a38b00;
  width: 250px; height: 290px;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  font-family: copperplate;
  font-weight: bold;
  font-size: 1.5em;
  color: #fcfcfc;

}



@media screen and (max-width: 800px) {

  .flex{
    display: grid;
    grid-template-columns: repeat(1,minmax(20px, 1fr));
    grid-template-rows: repeat(autofit,minmax(20px, 1fr));
    align-items: center;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

.menu{
  border-radius: 15px;
  font-size: .7rem;
}

.contact-list {
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  gap:50px;
  
}


}